# Node.js specific
node_modules/
npm-debug.log
yarn-error.log

# .env file containing environment variables (DO NOT commit your sensitive keys)
.env

# Logs
*.log


# IDE specific files (e.g., VSCode, IntelliJ, etc.)
.vscode/
.idea/

# Build directories
/dist/
build/

